@import "../Variables/Variables.scss";

.footer {
    background: rgb(43, 42, 42);
    width: 100%;
    padding: 7rem;
    height: 270px;
    position: relative;
    top: 80%;
    transform: translateY(-100%);
  }

  #navbarFooter {
    margin-top: -100px;
    width: 300px;
  }

  .footer-item {
    margin: 25px;
  }

  .telecine-brand {
    margin-top: -97px;
  }

  #menu-buttom {
    background:none;
    margin:0;
    padding:0;
    border-bottom: 3px solid transparent;
  }

  
  #wrapper {
    text-decoration: none;
    font-size: 20px;
  }
  
  #menu-buttom:hover {
    border-bottom: 2px solid lightgreen;
  }
  
  #menu-buttom.active, #menu-buttom:focus {
    border-bottom: 2px solid lightgreen;
  }

  #legenda {
    font-size: 12px;
    margin-top: 6px;
  }

.card {
  padding: 15px;
  background-color: rgb(58, 57, 57);
}

.navbar-brand {
  text-align: center;
}

.menu {
  display:flex;
}

#black-line {
  border-bottom: 2px solid black;
  width: 1055px;
  margin-top: -44.5px;
}

#select {
  margin-top: 30px;
}

#images {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cards {
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}